.DS_Store
node_modules
.env
venv

# Python
__pycache__/
*.py[cod]
*.so

# Build outputs
/dist
/build
*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
*.log

# Editor files
.vscode/*
.idea/
*.suo
*.sw?

# Data files
*.pkl
server/cs_papers_embeddings.pkl
server/data/cs_papers_api.csv

# Database
*.sqlite
*.db
